body {
  font-family: Helvetica;
}
.app {
  background: #dbdbdb;
  display: flex;
  width: 100%;
}

.logo {
  width: 40px;
  height: 40px;
}

.channel-list {
  width: 30%;
}

.message-list {
  width: 60%;
  .message {

  }

  .message-form {

  }
}
